<h2 class="transaction-heading">TRANSACTIONS</h2>
<div class="page-header">
  <h2 class="categories-heading">New expense  <b class="cat-name"><%#@category.name%></b></h2>
</div>

<%= render "form", expense: @expense %>

<br>

<div>
    <%= link_to "Back to expenses", user_category_expenses_path(current_user, @category), class: 'back-to-category' %>
</div>
