<%= form_with(model: join) do |form| %>
  <% if join.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(join.errors.count, "error") %> prohibited this join from being saved:</h2>

      <ul>
        <% join.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
